

.card{
   width: 20rem;
   height:10rem !important;
   background-color:rgb(164, 255, 255) !important;
   font-size: 14px;
   margin-bottom: 80px;
   outline: none;
   border-style: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)
}
.card h5{
    font-size: 15px;
    font-style: bold;
}
nav span{
    color: white !important;
}